@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Faustina:wght@700&display=swap');

.App {
  text-align: center;
}

.Header {
  font-family: 'Faustina', serif;
  font-size: 20px;
}

.NavBar {
  font-family: Cambria;
  font-size: 20px;
  position: flex;
  display: flex;
}

.Footer {
  font-family: Cambria;
  font-size: 5px;
  position: fixed;
  display: flex;
}
